.depth-over-caption {
	z-index: 3;
}
.depth-over-hover {
	z-index: 7;
}
.depth-over-content {
	z-index: 11;
}
/*** grid ***/
.jprt-container {
	position: relative;
	padding: 0;
}
.jprt-item {
	position: absolute;
	text-align: center;
	/* padding: 20px; */

	-webkit-transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    -moz-transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    -o-transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    z-index: 2;
}
.jprt-caption h1 {
	margin: 0;
}

.jprt-content {
	position: absolute;
	display: none;
	width: 50%;
	top: 0;
	left: 0;
	overflow-y: hidden;

	-webkit-transition: height 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    -moz-transition:  height 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    -o-transition:  height 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    transition:  height 1s ease, top 1s ease, left 1s ease, opacity 0.5s ease;
    z-index: 10;
}
.jprt-content.show_new_section {
	display: inline-block;
	z-index: 4;
}

.jprt-hover {
	position: absolute;

	opacity: 0;
	width: 100%;
	top: 0;
	left: 0;

	-webkit-transition: width 1s ease, top 1s ease, left 1s ease, opacity 0.25s ease;
    -moz-transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.25s ease;
    -o-transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.25s ease;
    transition:  width 1s ease, top 1s ease, left 1s ease, opacity 0.25s ease;
    z-index: 6;
}

.jprt-item:hover {
	cursor: pointer;
}
.jprt-item:hover .jprt-hover {
	opacity: 1;
}
/**** decorations ****/

.jprt-item-title {
	position: absolute;
	top: 60%;
	width: 70%;
	font-size: 24px;
	font-weight: 800;
	padding: 10px;
}
h1.jprt-item-title {
	margin-top: -13px;
}

/*** buttons ***/
.jprt-buttons {
}
.jprt-buttons .jprt-btn {
	background: #DE9466;
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	box-shadow: none;
	border-radius: 21px;
	outline-style: none;
}
.jprt-buttons .jprt-btn.jprt-btn-active {
	background: #fff;
	color: #DE9466;
	outline-style: none;
	border: 2px solid #DE9466;
	/*add image?*/
}

/*** grid ***/
.jprt-item {
	background: none;
}

.jprt-content {
	background: #EFD9CB;;
	color: #5D6B4E;

}

.jprt-content  p {
	text-align:left;
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
	font-weight: 200;
	color: black;
	font-family: 'Roboto', sans-serif;

}

.jprt-content h2, h3 {
	text-align: left;
	margin: auto;
	padding-bottom: 10px;
	width: 60%;
}



/*** item caption ***/
.jprt-caption h1 {
	color: black;
}


/**** decorations ***/

.jprt-item-title {
	background: white;
}

.jprt-arrow-down-border {
	display: none;
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 0;
	background: #5D6B4E;
	padding: 2px;
	left: 50%;
	margin-left: -30px;
	border-radius: 50%;
	z-index: 15;
	margin-bottom: -30px;
}
.jprt-arrow-down-back {
	width: 56px;
	height: 56px;
	position: absolute;
	background: #FFF;
	top: 4px;
	left: 4px;
	border-radius: 50%;
}
.jprt-arrow-down {
	transform: rotate(45deg) ;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	background: none;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
	border-radius: 2px;
	position: relative;
	width: 20px;
	height: 20px;
	margin: auto;
	margin-top: 15px;
}
